[alias]
	tree = log --graph --oneline --all
[commit]
	gpgSign = true
[init]
	defaultBranch = main
[core]
	autocrlf = input
[pull]
	rebase = false
[include]
	path = ~/.gitconfig.local
[url "git://github.com/"]
	insteadOf = readonly:
[url "git@github.com:"]
	insteadOf = github:
