[alias]
	s = status
	l = log --graph --abbrev-commit
	b = branch
	c = commit --allow-empty-message -m
	ac = commit --allow-empty-message -a -m
	tree = log --graph --oneline --all
	p = push
	d = diff
[commit]
	gpgSign = true
[init]
	defaultBranch = main
[core]
	autocrlf = input
[pull]
	rebase = false
[include]
	path = ~/.gitconfig.local
[url "git://github.com/"]
	insteadOf = readonly:
[url "git@github.com:"]
	insteadOf = github:
